<!DOCTYPE html>

<html>
    <head>
        { custom_js | safe }

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {
                box-sizing: border-box;
            }

            .row {
                display: flex;
            }

            /* Create two equal columns that sits next to each other */
            .column {
                flex: 50%;
                padding: 15px;
            }
        </style>
    </head>

    <body>
        <h4>Welcome {{firstname}} {{lastname}}</h4>

        <p> 
            Your mission {{firstname}}, should you choose to accept it, is to <br>
            determine whether the two articles before you are the same story. <br><br>
        </p>

        <fieldset>
            <div class="row">
                <div class="column" style="background-color:#cccccc;">
                    <h4>Story 1</h4>
                    {{story_1}}
                </div>
                <div class="column" style="background-color:#c4c4c4;">
                    <h4>Story 2</h4>
                    {{story_2}}
                </div>
            </div>
        </fieldset>

        <center>
            <p>
                Tap left arrow if the stories DON'T match                    Tap right arrow if the stories DO match.
            </p>
            <p>
                .
            </p>
            <p>
                Tap down arrow if the stories don't make any sense (i.e. not english, random words, etc)
            </p>
        </center>

        <input type="hidden" name="f" id="f" value="{{firstname}}">
        <input type="hidden" name="l" id="l" value="{{lastname}}">
    </body>
</html>