.new-span-color-0 {
    background-color: #E6194BA0;

}

.new-span-color-1 {
    background-color: #3CB44BA0;
}

.new-span-color-2 {
    background-color: #E1E119A0;
}

.new-span-color-3 {
    background-color: #0082C8A0;
}

.new-span-color-4 {
    background-color: #F58230A0;
}

.new-span-color-5 {
    background-color: #911EB4A0;
}

.new-span-color-6 {
    background-color: #46F0F0A0;
}

.new-span-color-7 {
    background-color: #F032E6A0;
}

.new-span-color-8 {
    background-color: #D2F53CA0;
}

.new-span-color-9 {
    background-color: #FABED4A0;
}

.new-span-color-10 {
    background-color: #008080A0;
}

.new-span-color-11 {
    background-color: #DCBEFFA0;
}

.new-span-color-12 {
    background-color: #AA6E28A0;
}

.new-span-color-13 {
    background-color: #FFFAC8A0;
}

.new-span-color-14 {
    background-color: #800000A0;
}

.new-span-color-15 {
    background-color: #AAFFC3A0;
}

.new-span-color-16 {
    background-color: #808000A0;
}

.new-span-color-17 {
    background-color: #FFD7B4A0;
}

.new-span-color-18 {
    background-color: #000080A0;
}

.new-span-color-19 {
    background-color: #808080A0;
}

.new-span-color-20 {
    background-color: #FAF9F6A0;
}

.new-span-color-21 {
    background-color: #313639A0;
}

.new-span-color-22 {
    background-color: #87CEEBA0;
}

.new-span-color-23 {
    background-color: #FFFF00A0;
}
